body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.service:hover{
  color:rgb(1, 1, 27);
  background-color: #e4f5eb;
}
/* d-flex justify-content-evenly */
.footer{
  display: flex;
  justify-content: space-evenly;
}
#special{
  display: flex;
}
.active{
  border: 1px solid white;
  border-radius: 15px;
}
@media only screen and (max-width: 720px)  {
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #special{
    display: block;
  }
}