#banner{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4b/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: center center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#banner p{
    background-color: rgba(242, 243, 243, 0.644);
    padding: 10px 20px;
    border-radius: 20px;
}